.manage-store-containner {
    .select-store {
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        border-radius: 16px;
        padding: 2em;

        &__title {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            h5 {
                margin: 0;
            }

            span {
                margin-left: 1em;
                background-color: #ff4e5f;
                padding: 0.2em 1.3em;
                border-radius: 29px;
                font-size: 1.2em;
                color: white;
            }
        }

        &__controls {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .select-store__search-containner {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                padding: 1em 0.5em;
                width: 20em;

                input {
                    width: 80%;
                    border: 0;
                    outline: none;
                    margin-left: 0.4em;
                }

                .fal {
                    color: black;
                    font-size: 1.3em;
                }
            }
        }

        //this class is shared between stores-containner and agreements
        .select-store__store {
            height: 112px;
            width: 111px;
            margin: 1em;

            .img-containner {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #e9e7f74b;

                img {
                    width: 85%;
                }
            }

            .store-name {
                height: 30%;
                background-color: white;
                text-align: center;
                line-height: 2;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                font-weight: 500;
            }

            &--selected {
                position: relative;

                .img-containner,
                .store-name {
                    opacity: 0.4;
                }

                &::after {
                    content: "1";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2em;
                    width: 2em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #3858f9;
                    border-radius: 100%;
                    color: white;
                }
            }
        }

        &__stores-containner {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1em;
        }

        &__agreement {
            display: flex;
            align-items: center;
            border-top: 1px solid gainsboro;
            font-weight: 500;
            padding-top: 1em;

            .select-store__store {
                margin-right: 1em;
            }

            .select-store__agreemnts {
                p {
                    margin: 1em;
                }

                p:nth-of-type(1) {
                    color: #6f42c1;
                }
            }
        }
    }
}
