.upload-album-containner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-album-containner .album-containner {
  width: 43.75em;
  height: 17.375em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
}

.upload-album-containner .album-containner__title {
  background-color: rgba(56, 88, 249, 0.1);
  padding: 0.5em 1em;
  width: 100%;
  height: 20%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-album-containner .album-containner__title h5 {
  margin: 0;
}

.upload-album-containner .album-containner__group {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
}

.upload-album-containner .album-containner__group .album-containner__uploaded {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__img-containner {
  width: 15em;
  height: 11em;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__img-containner img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls button {
  width: 7em;
  padding: 0.5em 0;
  margin: 0.5em 0;
  border-radius: 10px;
  border: 1.5px solid black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls button:nth-of-type(1) {
  background-color: #6f42c1;
  color: white;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls button:nth-of-type(1):hover {
  background-color: white;
  color: #6f42c1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls button:nth-of-type(2) {
  background-color: transparent;
  color: black;
}

.upload-album-containner .album-containner__group .album-containner__uploaded__controls button:nth-of-type(2):hover {
  background-color: #6f42c1;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.upload-album-containner .album-containner__group .album-containner__not-uploaded {
  border: 2px dashed rgba(82, 81, 81, 0.214);
  background-color: #f8f7ff;
  width: 50%;
  height: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.upload-album-containner .album-containner__group .album-containner__not-uploaded p {
  margin: 0;
}

.upload-album-containner .album-containner__group .album-containner__not-uploaded p:nth-of-type(2) {
  margin: 0.5em 0;
}

.upload-album-containner .album-containner__group .album-containner__not-uploaded p:nth-of-type(3) {
  color: #3858f9;
  font-weight: 500;
  cursor: pointer;
}

.upload-album-containner .album-containner__group .album-containner__not-uploaded .songImg-input {
  display: none;
}

.upload-album-containner .album-containner__group .album-containner__recommandation {
  background-color: #f8f7ff;
  padding: 1em;
  border-radius: 12px;
  width: 14.375em;
  text-align: center;
  font-size: 0.9em;
}

.upload-album-containner .album-containner__group .album-containner__recommandation span {
  color: blue;
  cursor: pointer;
}

.upload-album-containner .album-rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 43.75em;
  margin: 2em 0;
}

.upload-album-containner .album-rules__should, .upload-album-containner .album-rules__should-not {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.upload-album-containner .album-rules__should h5, .upload-album-containner .album-rules__should-not h5 {
  color: #219653;
  margin-bottom: 1em;
}

.upload-album-containner .album-rules__should .album-rules__rule, .upload-album-containner .album-rules__should-not .album-rules__rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.3em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-album-containner .album-rules__should .album-rules__rule p, .upload-album-containner .album-rules__should-not .album-rules__rule p {
  width: 78%;
  margin: 0;
}

.upload-album-containner .album-rules__should .album-rules__rule div, .upload-album-containner .album-rules__should-not .album-rules__rule div {
  width: 20%;
  background-color: rgba(33, 150, 84, 0.2) !important;
}

.upload-album-containner .album-rules__should .album-rules__rule div .fal, .upload-album-containner .album-rules__should-not .album-rules__rule div .fal {
  color: #219653;
}

.upload-album-containner .album-rules__should-not h5 {
  color: #ff4e5f;
}

.upload-album-containner .album-rules__should-not .album-rules__rule div {
  background-color: rgba(255, 78, 96, 0.2) !important;
}

.upload-album-containner .album-rules__should-not .album-rules__rule div .fal {
  color: #ff4e5f;
}

.upload-album-containner .album-agreement {
  margin-bottom: -2em;
  padding: 0 1em;
}

@media only screen and (max-width: 900px) {
  .upload-album-containner {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .upload-album-containner .album-containner {
    height: 30em;
    width: 100%;
  }
  .upload-album-containner .album-containner__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em 0;
  }
  .upload-album-containner .album-containner__group .album-containner__recommandation {
    width: 20em;
  }
  .upload-album-containner .album-containner__group .album-containner__controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .upload-album-containner .album-containner__group .album-containner__controls button {
    margin: 0 0.5em;
  }
  .upload-album-containner .album-rules {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-left: 1em;
  }
}
/*# sourceMappingURL=upload-album.css.map */